<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="pqmessengerlog" class="org.apache.log4j.FileAppender">
    <param name="File" value="/var/log/pqmessenger/pqmessenger.log" />
 		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{|yyyyMMdd|HH:mm:ss|}%5p| %m%n" />
		</layout>
	</appender>

	<logger name="net.meddeb" additivity="true">
	    <appender-ref ref="pqmessengerlog" />
	</logger>
	
	<logger name="org.apache.activemq" additivity="false">
    <level value="off"/>
	  <appender-ref ref="pqmessengerlog" />
	</logger>
	
	<logger name="org.apache.openejb" additivity="false">
    <level value="off"/>
	  <appender-ref ref="pqmessengerlog" />
	</logger>
			
	<root>
	  <priority value="info"></priority>
	</root>
</log4j:configuration>
