<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configuration>
<Configuration  status="error" monitorInterval="60">	
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{|yyyyMMdd|HH:mm:ss|}%5p| %m%n" />
    </Console>
    <File name="Filelog" fileName="/var/log/pqmessenger/pqmessenger.log" immediateFlush="true" append="true">
      <PatternLayout pattern="%d{|yyyyMMdd|HH:mm:ss|}%5p| %m%n" />
    </File>
  </Appenders>
  <Loggers>
	  <Logger name="org.apache.openejb" additivity="false" level="off">
	    <appender-ref ref="Filelog" />
	  </Logger>
	  <Logger name="org.apache.activemq" additivity="false" level="off">
	    <appender-ref ref="Filelog" />
	  </Logger>
    <Root level="info">
      <AppenderRef ref="Filelog"/>
    </Root>
  </Loggers>
</Configuration>
