<?xml version="1.0" encoding="UTF-8"?>
<Config>
	<!-- JMS Channels Configuration example -->
	<Server id="pqParams" type="JMS">
		<Host>
    	0.0.0.0
		</Host>
    <Port>
      61616
    </Port>
    <Login>
      tomee
    </Login>
    <Password encrypted="false">
      tomee
    </Password>
  </Server>
</Config>
